
.text-action {
    box-sizing: border-box;
    height: 50px;
    display: flex;
    justify-self: center;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.submit-action {
    box-sizing: border-box;
    height: 50px;
    width: 75px;
    display:flex;
    justify-content: center;
    align-self: center;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-elements {
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 500px;
}

.lagoon-label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: .3em .7em .25em .4em;
}

.midnight-label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: .3em .7em .25em .4em;
}

.moon-label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: .3em .7em .25em .4em;
}

.sunset-label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    color: #f8de7e;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: .3em .7em .25em .4em;
}

.input-form {
    display: flex;
    flex-flow: column;
    width: 500px;
}

.monster-col {
    display: flex;
    justify-content: space-around;
}

.form-header {
    display: flex;
    justify-content: center;
}

h1 {
    border-bottom-width: .2rem;
    border-bottom: .2rem;
    border-bottom-style: solid;
}

textarea {
    resize: none;
}

.selection-header {
    border-bottom-width: .2rem;
    border-bottom: .2rem;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.midnight-selection-form {
    background-color: orange;
}

select {
    padding: .3em .7em .25em .4em;
}

.lagoon-radio-form {
    background-color: #5986b5;
    border-width: .2rem;
    border-style: solid;
    height: 110px;
    padding-bottom: 1em;
    color: white;
}

.moon-radio-form {
    background-color: #f8f8ff;
    border-width: .2rem;
    border-style: solid;
    height: 100px;
    color: black;
}


input[type="radio"] {
    height: 20px;
    width: 20px;
    vertical-align: middle;
 }